<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace and resultType must use full package name and class name-->
<mapper namespace="com.yifeng.dao.AccountDao">

    <resultMap id="accountPojo" type="com.yifeng.pojo.Account">
        <id column="id" property="id"/>
        <result column="accountId" property="accountId"/>
        <result column="balance" property="balance"/>
    </resultMap>

    <!-- id must be identical with what was defined in dao interface -->
    <insert id="createAccount" parameterType="com.yifeng.pojo.Account">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            SELECT uuid()
        </selectKey>
        INSERT INTO transfer set id=#{id},accountId=#{accountId},balance=#{balance}
    </insert>

    <select id="findAll" resultMap="accountPojo">
        SELECT * FROM transfer
    </select>

    <update id="payout">
        UPDATE transfer set balance = balance - #{amount} where accountId=#{accountId}
    </update>

    <update id="credit">
        UPDATE transfer set balance = balance + #{amount} where accountId=#{accountId}
    </update>

    <select id="getBalance" resultType="java.lang.Double">
        SELECT balance FROM transfer where accountId = #{accountId}
    </select>
</mapper>