<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yifeng.bank.a.dao.AccountDao">

    <resultMap id="accountPojo" type="com.yifeng.commons.pojo.Account">
        <id column="id" property="id"/>
        <result column="accountId" property="accountId"/>
        <result column="balance" property="balance"/>
    </resultMap>

    <select id="findAll" resultMap="accountPojo">
        SELECT * FROM account_bank_A
    </select>

    <select id="findById" resultMap="accountPojo">
        SELECT * FROM account_bank_A where accountId = #{accountId}
    </select>

    <update id="payout">
        UPDATE account_bank_A set balance = balance - #{amount} where accountId=#{accountId}
    </update>

    <update id="credit">
        UPDATE account_bank_A set balance = balance + #{amount} where accountId=#{accountId}
    </update>

    <select id="getBalance" resultType="java.lang.Double">
        SELECT balance FROM account_bank_A where accountId = #{accountId}
    </select>
</mapper>